*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.Main {
  text-align: center;
  
  background-image: none !important;
  background-color: white !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  height: 30vh;
  width: auto;
  box-shadow: 2.7px 5.4px 5.4px hsl(0deg 0% 0% / 0.42);
}
.card:hover{
  box-shadow: 6.1px 12.2px 12.2px hsl(0deg 0% 0% / 0.31);
}
.mbody{
  
  padding: 0%;
  border: solid black;
  height: 60vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
